@use './utils/themify' as *;
@use './utils/themes' as *;

@import './components/weather';
@import './components/currency-exchanger';
@import './components/sidebar';
@import './components/theme-toggle';

* {
  box-sizing: border-box;
}

.navbar-content {
  border: 2px solid;
  padding: 10px;
  margin-top: -8px;

  .logo {
    width: 50px;
  }

  .theme-image {
    width: 30px;
    margin-right: 10px;
  }

  @include themify($themes) {
    border-color: themed('toggleBackground');
  }
}

#main {
  @include themify($themes) {
    background-color: themed('background');
  }
}
