@use './utils/themify' as *;
@use './utils/themes' as *;

@import './components/weather';
@import './components/currency-exchanger';
@import './components/sidebar';
@import './components/theme-toggle';
@import './components/news';
@import './components//loading-spinner';

* {
  box-sizing: border-box;
}

.navbar-content {
  padding: 5px 10px;
  margin: -8px 0;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2) !important;

  .logo {
    width: 50px;

    &:hover {
      transition: 1s ease-in-out;
      transform: rotate(1440deg);
    }
  }

  .theme-image {
    width: 30px;
    margin-right: 10px;
  }

  @include themify($themes) {
    background-image: themed('mainBackground');
    // background-image: themed('invertedMainBackground');
  }
}

.card {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2) !important;
  transform-style: preserve-3d !important;
}

.glassEffect {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2); /* Black w/opacity/see-through */
  border-radius: 4px;
}

.main {
  @include themify($themes) {
    background-image: themed('mainBackground');
  }
}

// Hide arrows in input type number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}
