.weather {
  float: right;
}

.weather__card {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.weather_code-img {
  background-color: white;
  max-width: 100px;
  margin-right: 1rem;
}

.paramter_icon {
  height: 2rem;
  margin-right: 0.3rem;
  width: 2rem;
}

.btn-switch {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 16 16'> <path fill-rule='evenodd' d='M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z' ></path></svg>");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.btn-switch:hover {
  transform: scale(1.2);
}

.btn-switch:active {
  border: none;
}
