@use '../utils/themify' as *;
@use '../utils/themes' as *;

.country-toggle {
  outline: none;
  background: none;
  border: 1px solid;
  padding: 5px 10px;
  border-radius: 5px;

  @include themify($themes) {
    border-color: themed('text');
    color: themed('text');
  }

  &:focus,
  &:active {
    outline: none;
  }

  .location-logo {
    width: 20px;
    display: inline;
    margin-right: 5px;
  }
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  border-right: 3px solid;
  margin-left: -3px;

  @include themify($themes) {
    background-color: themed('background');
    border-right-color: themed('sidebarText');
  }
  // border-right: 0.5rem solid #444352;
  // box-shadow: 0 0 5px 10px #F8F9FA;

  .sidebar_top {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
    width: 250px;
    padding: 15px;
    z-index: 200;

    @include themify($themes) {
      background-color: themed('background');
    }

    .label {
      display: none;
    }

    .country__search {
      border: none;
      padding: 5px 8px;
      width: 200px;
      outline: none;
      border-radius: 5px;

      @include themify($themes) {
        color: themed('background');
        background-color: themed('sidebarText');
      }
    }

    .close_btn {
      font-size: 25px;
      background-color: inherit;
      border: none;
      outline: none;
      display: block;

      @include themify($themes) {
        color: themed('sidebarText');
      }
    }
  }

  .country__name {
    text-align: left;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1rem;
    max-width: 200px;
    transition: 0.3s;
    background-color: transparent;
    border: none;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include themify($themes) {
      color: themed('sidebarText');
    }

    &:hover {
      transform: scale(1.25);
    }

    &:active {
      outline: 0;
      border: none;
    }
  }

  .country__name.active {
    font-weight: 700;
  }
}
