@use '../utils/themify' as *;
@use '../utils/themes' as *;

.weather_card {
  position: relative;
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  background-image: linear-gradient(to right, #c1c161 0%, #c1c161 0%, #d4d4b1 100%);

  .country_name {
    position: absolute;
    margin-top: -40px;
    margin-left: 10px;
  }

  .country_name__2 {
    position: absolute;
    right: 0;
    margin-right: 10px;
    margin-top: -40px;
  }

  .card-body {
    margin-top: 4rem !important;
  }

  .parameter {
    padding-bottom: 0.7rem;
    margin-bottom: 0.7rem;
    border-bottom: 1px solid lightgray;

    .param_data {
      transition: transform 0.5s;
      user-select: none;

      &:hover {
        transform: scale(1.1);
      }
    }

    .icon {
      width: 30px;
      height: 30px;
    }

    .arrow {
      width: 20px;
      height: 20px;
      fill: #fff !important;
    }

    .convertTemp {
      outline: 0;
      padding: 0px 8px 0px 5px;
      margin-top: -4.6px;
      border: 1px solid;
      border-radius: 50%;
      font-size: 1.5rem;
      position: absolute;
      right: 0;
    }
  }
}

.tabs {
  .tab__options {
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .tab__options::-webkit-scrollbar {
    display: none;
  }

  .option {
    background: none;
    border: none;
    padding: 0;
    white-space: nowrap;
  }

  .font-sm {
    font-size: 0.8rem;
    text-align: center;
  }

  .rotate {
    transform: rotate(-20deg);
  }

  .overflow-auto {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .overflow-auto::-webkit-scrollbar {
    display: none;
  }
}
